<ion-menu [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()">
  <ion-header>
    <ion-toolbar>
      <div style = "text-align: center; font-size: 18px;">runningApp</div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ng-container *ngIf="p.droit === droit || p.droit === 'utilisateur'">{{p.title}}</ng-container>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
